<div>
  <link href="./navbar.css" rel="stylesheet" />
  <div class="navbar-navbar">
    <a href="index.html" class="navbar-heading Card-Heading">
      <span>Zaxoosh</span>
    </a>
    <div class="navbar-container">
      <div class="navbar-links-container">
        <span class="navbar-link Navbar-Link"><span></span></span>
        <span class="navbar-link1 Navbar-Link"><span></span></span>
        <span class="Navbar-Link"><span></span></span>
      </div>
      <a href="portfolio.html" class="navbar-link3 Navbar-Link">
        <span>My Work</span>
      </a>
    </div>
    <div data-role="BurgerMenu" class="navbar-burger-menu">
      <svg viewBox="0 0 1024 1024" class="navbar-icon">
        <path
          d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
        ></path>
      </svg>
    </div>
    <div data-role="MobileMenu" class="navbar-mobile-menu">
      <div class="navbar-container1">
        <span class="Card-Heading navbar-heading1"><span>Zaxoosh</span></span>
        <div data-role="CloseMobileMenu" class="navbar-close-menu">
          <svg viewBox="0 0 1024 1024" class="navbar-icon2">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="navbar-links-container1">
        <a href="index.html" class="navbar-link4 Navbar-Link">
          <span>About</span>
        </a>
        <span class="navbar-link5 Navbar-Link"><span>My Work</span></span>
        <span class="navbar-link6 Navbar-Link"><span></span></span>
        <span class="Navbar-Link"><span></span></span>
      </div>
    </div>
  </div>
</div>
